@media (max-width: 750px) {

    // HEADER
    #header {

    &-home,
    &-inner {

      .header-content {
        display: none;
      }

      .container {
        display: grid;
        grid-template-columns: 1fr;

      .navbar-brand {
        font-size: 1.7rem;
        text-align: center;
        border-bottom: none;
        }
      

        .nav-content {
          justify-self: center;

          li {
            font-size: 0.8rem;
          }
        }  
      }
      // Case Study
      .torleifv {
        h2 {
          font-size: 3rem !important;
        }
      }
    }
  }

  // Case study - BUTTON
  #case-box {
    a {
      width: 300px;
    }
  }

  // Blog
  #blog-img {
    img {
      width:250px;
    }
  }

  // Navbar - Case Study

  #case-study-title {
    h5 {
      display: none;
    }
  }

  // Images

  #image1 {
    text-align: center;
    img {
      display: none;
    }
  }

  #image2 {
    img {
      width: 250px;
      padding-bottom: 30px;
    }
  }
  #image3 {
    img {
      width: 150px;
      padding-top: 10px;
    }
  }
}
@media (min-width: 750px) {
  
    #header {

      &-home,
      &-inner {
      
      .navbar-logo {
        display:none;
      }
    }
  }
  #image3 {
    img {
      display: none;
    }
  }

  // Case study - BUTTON
  #case-box {
    a {
      width: 500px;
    }
  }
}
@media (min-width: 750px) and (max-width: 990px) {
  #image1 {
    img {
      width: 250px;
      padding-top: 50px;
    }
  }

  // Video
  #video-case {
    iframe {
      width: 563px;
      height: 317px;
    }
  }
}

// IPAD

@media (min-width: 450px) and (max-width: 750px) {
  // Video
  #video-case {
    iframe {
      width: 400px;
      height: 225px;
    }
  }
}

// IPHONE X, 6/7/8
@media (min-width: 320px) and (max-width: 450px) {
  // Video
  #video-case {
    iframe {
      width: 300px;
      height: 169px;
    }
  }
}

// Iphone 5
@media (max-width: 320px) {
  // Video
  #video-case {
    iframe {
      width: 220px;
      height: 124px;
    }
  }
  // Case study - BUTTON
  #case-box {
    a {
      width: 220px;
    }
  }
}