@media (max-width: 750px) {

    // HEADER
    #header {

    &-home,
    &-inner {

      .header-content {
        display: none;
      }

      .container {
        display: grid;
        grid-template-columns: 1fr;

      .navbar-brand {
        font-size: 1.7rem;
        text-align: center;
        border-bottom: none;
        }
      

        .nav-content {
          justify-self: center;

          li {
            font-size: 0.9rem;
          }
        }  
      }
      // Case Study
      .torleifv {
        h2 {
          font-size: 3rem !important;
        }
      }
    }
  }

  // Navbar - Case Study

  #case-study-title {
    h5 {
      display: none;
    }
  }

  // Images

  #image1 {
    text-align: center;
    img {
      width: 250px;
    }
  }

  #image2 {
    img {
      width: 250px;
      padding-bottom: 30px;
    }
  }
}
@media (min-width: 750px) {
  
    #header {

      &-home,
      &-inner {
      
      .navbar-logo {
        display:none;
      }
    }
  }
}
@media (max-width: 990px) {
  #image1 {
    img {
      width: 250px;
      padding-top: 50px;
    }
  }
}
